HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/

### VS Code ###
.vscode/
.gradle/

### 민감한 정보 파일 ###
src/main/resources/*.properties
src/main/resources/*.yml


### 환경변수 파일 ###
.env*
